<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="name">
    {{ with .flyer }}
        <img src="{{ . }}" alt="42 Flyer">
    {{ end }}
</p>

<p itemprop="description">42* ist eine Kunst, Kultur & Open Air Live Musik Veranstaltung.
    42* ist ein Non-Profit-Event, d.h. alle Spenden gehen an die Bands und die Kulturschaffenden.
    Es geht um <a href="https://simple.wikipedia.org/wiki/42_(answer)" target="_blank">42</a> - Die Antwort auf Alles.
    Das {{ .name }} ist dem 40 Fest entsprungen, einem kleinen privaten Festival weit weg, tief im <a href="https://maps.app.goo.gl/Bc1auetb8T2HrAEZ7">Wald</a> in Süddeutschland. 
    Am 24.08. auf dem {{ .name }} 2024 wollen wir Die Antwort auf Alles (40+2
    &#8800; <a href="https://youtu.be/d6iQrh2TK98?si=PWu3qJpLG9So3luS" target="_blank">37</a>) gemeinsam mit euch feiern.</p>

<p>Das {{ .name }} findet den ganzen Tag - von 13 bis 22 Uhr - statt. Kommt alle, am besten früh, um nichts zu verpassen.</p>

<p><img src="/img/flyer-small.png" width="100%" alt="Flyer"></p>

<p>Es gibt viel Platz zum Entspannen, bringt euch gerne Decken und Snacks mit. Es gibt Essen & Trinken gegen Spende.</p>
<p>Stellt euch auf ein entspannten Sommertag im Grünen, mit buntem Angebot ein: </p>

<p>
&#x2022; Theather & Slam Aktion <br>
&#x2022; Modular Live Soundscapes<br>
&#x2022; Live Painting & Mit Mal Aktion <br>
&#x2022; Workshops (Siebdruck, Wiesenkräuter, Orakel, ..) <br>
&#x2022; Lekka Essen & Trinken (inkl. Absinthe-Bar & Chai) <br>
&#x2022; 3x Kick Ass Live Musik<br>
&#x2022; Galaktische Reise zum Sumpf<br>
</p>

<p>Um das Event zu realisieren empfehlen wir eine Spende von 10-20 € pro Person (exklusive Essen, Trinken & Schnickschnack)</p>