<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">42* ist eine Kunst, Kultur & Open Air Live Musik Veranstaltung in Darmstadt.
    Es geht um <a href="https://simple.wikipedia.org/wiki/42_(answer)" target="_blank">42</a> die Antwort auf alles.
    Es ist eine Non-Profit Veranstaltung, d.h. alle Spenden gehen an die Bands und die Kulturschaffenden.
    Das {{ .name }} ist dem 40 Fest entsprungen. Einem privaten Festival im <a href="https://maps.app.goo.gl/Bc1auetb8T2HrAEZ7">Wald</a> das wir 2022 & 23, 
    mit vielen tollen darmstädter Menschen und Bands, gewuppt haben. Am 24.08.2024 auf dem {{ .name }} wollen wir nun wieder die Antwort auf alles 40+2
    und auch <a href="https://youtu.be/d6iQrh2TK98?si=PWu3qJpLG9So3luS" target="_blank">37</a> mit euch gemeinsam zelebrieren.</p>

<p>Das {{ .name }} findet den ganzen Tag - von 13 bis 22 Uhr - statt. Kommt alle, am besten früh.</p>

<p>Stellt euch auf ein entspannt gechillten Sommertag auf der Kulturwiese ein, mit</p>

<p>
&#x2022; Theather Aktion <br>
&#x2022; Modular Live Soundscapes<br>
&#x2022; Live Painting & Interactive Art <br>
&#x2022; Siebdruck (am besten Klamotte mitbringen) <br>
&#x2022; Workshops (Orakel, Kräuterwanderung & Land-Art) <br>
&#x2022; Lekka Essen & Trinken (inkl. Absinthe Bar) <br>
&#x2022; 3x Kick Ass Live Musik<br>
</p>

<p>Um das Event zu realisieren empfehlen wir eine Spende von 10-15 € pro Person (exklusive Essen, Trinken & Schnickschnack)</p>