<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">{{ .name }} is an open air culture & live music event in Darmstadt. It's about <a href="https://simple.wikipedia.org/wiki/42_(answer)" target="_blank">42 the answer to everything</a>.
It is a none profit event. Every penny you spend donants to the musicians & the location. {{ .name }} is born out of 40 Fest, which is a private festival we realized two times 2022/23 in
<a href="https://maps.app.goo.gl/Bc1auetb8T2HrAEZ7">Wald</a> with a lot of Darmstadt people and bands. At 2024 {{ .name }} we like to continue to spread the <a href="http://localhost:1313/#partners">word</a>
about the answer to everything 42* <a href="https://en.wikipedia.org/wiki/37_(number)" target="_blank">and 37 ..</a></p>

<p> {{ .name }} happens between 13:00 - 22:00 o`clock: </p>

<p>
- Theather <br>
- Live Painting & Interactive Art <br>
- Modular Madness Live Performance <br>
- Silkscreen Printing (bring your own cloth) <br>
- Workshops (Herbs-Hike, Button, ..) <br>
- Live Music & Performance <br>
- Fancy Foods & Drinks <br>
</p>

<p>We recommendate to donate 10-15 € (excluding Food & Drinks) </p>