<h2 class="section-title">{{ .titles.location }}</h2>

<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">{{ .address }}</span>
  <span itemprop="addressLocality"> <a href="https://maps.app.goo.gl/7gpiG9ZENMzu6fvw6">{{ .coord }}</a></span>,
  <span itemprop="addressRegion"> {{ .state }}</span>
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d509.08623455551424!2d8.663019383119945!3d49.893665872384155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sde!4v1718304700111!5m2!1sen!2sde" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<p><br>Falls Ihr mit dem Auto kommt: Bitte nutzt den Parkplatz am <a href="https://baeder.darmstadt.de/de/nordbad">Nordbad</a>. Es sind etwa 5 Minuten Fussweg.</p>