<h2 class="section-title">{{ .titles.schedule }}</h2>

<p>Die meisten Events vor der Live Musik finden parellel statt. Es gibt die Möglichkeit jederzeit zwischen den Events zu wechseln.</p>
<p>Es gibt sehr viel Platz zum Entspannen und Rumhängen, es gibt leckeres Essen & Trinken. Das {{ .name }} endet um 22 Uhr.</p>
<p>Die Aftershow Party findet ab ca 22-23 Uhr im <a href="https://de-de.facebook.com/sumpfindarmstadt/">Sumpf</a> statt. Auf die Ohren gibt's dort Electrica Salsa vom DJ 42*37?</p>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Time</th>
        <th class="schedule-slot">Slot</th>
        <th class="schedule-description">Beschreibung</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            {{ with .photo }}
              <span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>
            {{ end }}

              {{ .presentation.title }}
              <span class="speakers-company">{{ .company }}</span>
            </td>
            <td class="schedule-description">{{ .presentation.description }}</td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
            <td class="schedule-description">-</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>