<h2 class="section-title">{{ .titles.schedule }}</h2>

<p>Die Events vor der Live Musik finden parallel statt. Es gibt die Möglichkeit jederzeit zwischen den Events zu wechseln.</p>
<p>Es gibt viel Platz zum Entspannen und Rumhängen. Es gibt Essen & Trinken gegen Spende. Das {{ .name }} endet 22 Uhr.</p>
<p>Die Aftershow Party startet mit der Reise zum <a href="https://de-de.facebook.com/sumpfindarmstadt/">Sumpf</a>. Auf die Ohren gibt's dort 
  <a href="https://www.youtube.com/watch?v=joa3Pd0D9S8">Electrica Salsa</a> von DJ <a href="https://www.mixcloud.com/SKURREAL">SKURREAL</a></p>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Wann</th>
        <th class="schedule-slot">Wo & Wer</th>
        <th class="schedule-description">Was Geht</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            {{ with .photo }}
              <span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>
            {{ end }}

              {{ .presentation.title }}
              <span class="speakers-company">{{ .company }}</span>
            </td>
            <td class="schedule-description">{{ .presentation.description }}</td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
            <td class="schedule-description">-</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>